* {
  background-color: #225777;
  color: #f6f1eb;
}

.planDuSite {
  margin-left: 1rem;
}

li {
  color: #f6f1eb;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
}

.droitReserve {
  margin-right: 1rem;
  font-size: 14px;
}
