<div class="padding">
  <div class="center espacement">
    <h2>Bienvenue</h2>

    <p>Inscrivez-vous pour profiter de toutes les fonctionnalités.</p>

    <label for="Nom" class="form-label"></label>
    <input
      type="Nom"
      class="form-control"
      id="Nom"
      formControlName="Nom"
      placeholder="Nom"
    />
    <label for="Prenom" class="form-label"></label>
    <input
      type="Prenom"
      class="form-control"
      id="Prenom"
      formControlName="Prenom"
      placeholder="Prenom"
    />
    <label for="Email" class="form-label"></label>
    <input
      type="Email"
      class="form-control"
      id="Email"
      formControlName="Email"
      placeholder="Email"
    />
    <label for="Password" class="form-label"></label>
    <input
      type="Password"
      class="form-control"
      id="Password"
      formControlName="Password"
      placeholder="Mot de pass"
    />
    <button>pouet</button>
    <div>
      <a class="center padding-top" [routerLink]="['profil/signup']"
        >Inscrit toi COPAIIIIIIIINNNNNNNNNN!</a
      >
    </div>
  </div>
</div>
